body {
    background: #aaa;
    display: grid;
    text-emphasis: center;

}

h1 {
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
    color: #333;
    border: slateblue solid 1px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    display: block;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

button, #addFavorite, #addTen { 
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+100;Grey+Gloss */
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
    color: #333;
    border: slateblue solid 1px;
    border-radius: 25px;
    font-weight: bold;
    margin: 2px;
    padding: 10px;

}

#addFavorite, #addTen {
    margin: 2px 10px;
}

header, #newCategory, #gifContainer {
    margin: 10px auto;
    width: 80%;
}

.category {
    display: inline-block;
    margin: 2px;
}

p {
    margin-bottom: 10px;
}

img {
    border-radius: 100px;
}

