body {
    background: #aaa;
    display: grid;

}

button, #addFavorite, #addTen { 
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+0,86aecc+100;Grey+Gloss */
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
    color: #333;
    border: slateblue solid 1px;
    border-radius: 25px;
    font-weight: bold;
    margin: 2px;
    padding: 10px;

}

header {
    margin: 10px 0;
}

#gifContainer {
    margin: 10px;
}

.category {
    display: inline-block;
    /* margin: 10px; */
}

p {
    margin-bottom: 10px;
}

